<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web app is created for COMP204P Scenario Week 3. <br>
The team members are Nancy Amelia, Jason In, Zi Jian Sim, Vania Desmonda Gunawan Setiono, and Pauline Conde.
</p>
